<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento</title>
    <link rel="stylesheet" href="../../css/admin/departamentos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    <!--Menú Superior-->
    <header class="fondo-menu">
        <div class="menu-container">
            <div class="logo">
                <img src="../../img/logo.png" alt="Logo" />
            </div>
            <nav class="nav-menu">
                <ul class="menu-horizontal">
                    <li><a href="index.html" class="menu blue"><i class="bi bi-house-door-fill"></i>Inicio</a></li>
                    <li><a href="Consultar.html" class="menu blue"><i class="bx bxs-search-alt-2"></i>Consulta</a></li>
                    <li><a href="permisos.html" class="menu blue"><i class="bi bi-clipboard2-check-fill"></i>Permisos</a></li>
                    <li><a href="cuentas.html" class="menu blue"><i class="bx bxs-grid-alt"></i>Cuentas</a></li>
                    <li><a href="departamentos.html" class="menu blue here"><i class="bx bxs-buildings"></i>Departamentos</a></li>
                    <li id="ajustesMenuItem" style="display: none;"><a href="ajustes.html" class="menu blue"><i class='bx bxs-cog'></i>Ajustes</a></li>
                    <li><a href="#" class="menu blue cerrar-sesion"><i class="bx bxs-log-out"></i>Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Selección de Acción -->
    
        <div class="fondo2">
            <h2>Crear</h2>
            <select class="seleccionable1" id="accionSelect">
                <option value="" disabled selected>Selecciona un Item</option>
                <option value="departamento">Departamento</option>
                <option value="cargo">Cargo</option>
            </select>
            <div id="formContainer"></div>
        </div>

        <!-- Tablas -->
        <div class="tablas">
            <!-- Tabla Departamentos -->
            <table id="data-table">
                <caption>Departamentos</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Tabla Cargos -->
            <table id="data-table2">
                <caption>Cargos</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        

    </main>

    <!-- Modales -->
    <!-- Modal Editar Departamento -->
    <div id="modalDepartamento" class="modal">
        <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h3>Editar Departamento</h3>
            <input type="text" id="editDepNombre" class="input-crear" placeholder="Nombre">
            <button class="crear" id="btnGuardarDep">Guardar</button>
        </div>
    </div>

    <!-- Modal Editar Cargo -->
    <div id="modalCargo" class="modal">
        <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h3>Editar Cargo</h3>
            <select id="editCarDepartamento" class="seleccionable1"></select>
            <input type="text" id="editCarNombre" class="input-crear" placeholder="Nombre">
            <button class="crear" id="btnGuardarCar">Guardar</button>
        </div>
    </div>
    <script src="../../extra/indexAjustes.js"></script>
    <script src="../../extra/notifyScript.js"></script>
    <script src="../../js/admin/departamentos.js"></script>
    <script src="../../js/logout.js"></script>
</body>
</html>


