<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/admin/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    <!--Menú Superior-->
    <header class="fondo-menu">
        <div class="menu-container">
            <!-- Logo -->
            <div class="logo">
                <img src="../../img/logo.png" alt="Logo" />
            </div>
            <nav class="nav-menu">
                <ul class="menu-horizontal">
                    <li><a href="index.html" class="menu blue here"><i class="bi bi-house-door-fill"></i>Inicio</a></li>
                    <li><a href="Consultar.html" class="menu blue"><i class="bx bxs-search-alt-2"></i>Consulta</a></li>
                    <li><a href="permisos.html" class="menu blue"><i class="bi bi-clipboard2-check-fill"></i>Permisos</a></li>
                    <li><a href="#" class="menu blue"><i class='bx bxs-grid-alt'></i>Secciones</a></li>
                    <li><a href="#" class="menu blue"><i class='bx bxs-buildings'></i>Departamentos</a></li>
                    <li><a href="#" id="cerrarSesion" class="menu blue cerrar-sesion"><i class='bx bxs-log-out'></i>Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="contenedor-content">
            <div class="content">
                <a href="Consultar.html"><img src="../../img/Consulta.png" alt="Consulta" width="100px">
                    <h3>Consulta</h3>
                </a>
            </div>
            <div class="content">
                <a href="permisos.html"><img src="../../img/permisos.png" alt="Permisos" width="100px">
                    <h3>Permisos</h3>
                </a>
            </div>
            <div class="content">
                <a href="registrar.html"><img src="../../img/secciones.png" alt="Secciones" width="100px">
                    <h3>Secciones</h3>
                </a>
            </div>
            <div class="content">
                <a href="registrar.html"><img src="../../img/departamento.svg" alt="Departamenos" width="100px">
                    <h3>Departamenos</h3>
                </a>
            </div>
        </div>
    </main>
    <script src= "../../js/logout.js"></script>
    <script>
        window.addEventListener("load", () => {
            if(!sessionStorage.getItem("token")) {
                alert('Debes iniciar sesion para acceder a la pagina');
                window.location.href = '/frontend/views/login.html';
            }
        })
    </script>
</body>
</html>
