<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" href="../css/consultar.css">
    <link rel="stylesheet" href="../css/admin/barra.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
      <!--Menú Superior-->
    <header class="fondo-menu">
        <div class="menu-container">
            <!-- Logo -->
            <div class="logo">
                <img src="../img/logo.png" alt="Logo" />
            </div>
            <nav class="nav-menu">
                <a href="index.html" class="menu blue">
                    <i class="bi bi-house-door-fill"></i>Inicio
                </a>
                <a href="registrar.html" class="menu blue">
                    <i class="bi bi-person-fill-add"></i>Registrar
                </a>
                <a href="Consultar.html" class="menu blue here">
                    <i class="bi bi-search"></i>Consultar
                </a>
                <a href="#" id="cerrarSesion" class="menu blue cerrar-sesion">
                    <i class='bx bxs-log-out'></i>Cerrar sesión
                </a>
            </nav>
        </div>
    </header>

    <main>

         <div>
    <h2><i class="bx bxs-grid-alt"></i> Consulta de Trabajadores</h2>
    <br>
            </div>

        <!-- Buscador -->
        <div class="filters">
            <input type="text" id="searchInput" placeholder="Buscar por nombre, apellido o C.I.">
            <select id="departamentoFilter">
                <option value="" disabled selected>Todos los departamentos</option>
            </select>
            <select id="cargoFilter" disabled>
                <option value="" disabled selected>Todos los cargos</option>
            </select>
        </div>
        
        <!-- Tabla -->
        <table id="data-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>C.I.</th>
                    <th>Departamento</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        
    </main>

    <script src="../extra/notifyScript.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/consultar.js"></script>
</body>
</html>
