<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>Login</title>
<link rel="stylesheet" href="../css/login.css">
<link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    <div class="container">
      <div class="logo"></div>
      <div class="login-card">
        <form action="" id="loginForm" autocomplete="off">
          <h1>Login</h1>
  
          <div class="input-box">
            <input type="text" placeholder="Usuario" required id="name" autocomplete="off">
            <i class='bx bxs-user'></i>
          </div>
  
          <div class="input-box">
            <input type="password" placeholder="Contraseña" required id="password" autocomplete="off">
            <i class='bx bxs-lock-alt'></i>
          </div>

  
          <button type="submit" class="btn">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  

<script src="../js/login.js"></script>
<script>
  (function() {
    const token = sessionStorage.getItem("token");
    if (token) {
      try {
        const payloadBase64 = token.split(".")[1];
        const payloadJson = atob(payloadBase64.replace(/-/g, "+").replace(/_/g, "/"));
        const currentUser = JSON.parse(payloadJson);
        
        // Redirige según el rol, usando replace()
        if (currentUser.role === "admin") {
          window.location.replace("/frontend/views/admin/index.html");
        } else {
          window.location.replace("/frontend/views/index.html");
        }
      } catch (e) {
        // Si el token es inválido, lo elimina para permitir un nuevo login
        console.error("Token inválido, se requiere nuevo inicio de sesión:", e);
        sessionStorage.removeItem("token");
      }
    }
  })();
</script>

</body>
</html>